@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* Fondo ligeramente más claro para el estilo Apple */
    background-color: #f0f0f0; 
}

/* Estilos personalizados para el botón CTA con el estilo premium de Apple */
.cta-button {
    /* Usamos un color de contraste fuerte: negro elegante */
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil y oscura */
}
.cta-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
